.banner-container {
    position: relative;
  height: 800px;
    .p-page-banner {
      .p-banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        .heading-5 {
          color: $cl-h6-style;
          font-style: italic;
          font-family: "Times New Roman", Times, serif;
          font-weight: 600;
          @include rem("font-size", 36);
        }
        .p-title {
          margin-bottom: 10px;
          .heading-2 {
            font-family: 'Lato Bold';
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
            @include rem("font-size", 100);
            // letter-spacing: 0.3rem;
          }
        }
        .btn-start {
          margin-bottom: 20px;
        }
        .p-text {
          .text {
            color: $cl-style;
            text-transform: uppercase;
            @include rem("font-size", 14);
            .link-text{
              color: $cl-style;
              text-decoration: underline;
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }
  }
  