.counter-container {
  padding: 60px 0;
  #counter {
    width: 100%;
    .p-number {
      width: 20%;
      text-align: center;
      .counter-value {
        font-family: "Lato Bold";
        @include rem("font-size", 36);
        color: $cl-bl-style;
      }
      .heading-4{
        font-family: 'Lato Light';
        @include rem("font-size", 16);
      }
    }
  }
}
