.footer-container {
  background-color: $bc-ft-style;
  .p-page-footer {
    padding: 38px 0;
    .p-footer-left {
      .heading-6 {
        color: $cl-h6-style;
        @include rem("font-size", 14);
        font-family: 'Lato Light';
      }
    }
    .p-footer-right {
      text-align: right;
      @include flexbox;
      width: calc(100% - 200px);
      @include justify-content(flex-end);
      @include align-items(center);
      .heading-6 {
        color: $cl-h6-style;
        text-transform: uppercase;
        @include rem("font-size", 14);
        letter-spacing: 0.2rem;
        span {
          color: $cl-sp-style;
        }
      }
    }
  }
}
