// ----------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese');
@font-face{
    font-family: "Lato Light";
    src: url("../fonts/Lato-Lig.ttf");
}
@font-face{
    font-family: "Lato Bold";
    src: url("../fonts/Lato-Bol.ttf");
}
@font-face{
    font-family: "Lato Reg";
    src:url("../fonts/Lato-Reg.ttf")
}
@font-face{
    font-family: "Lato Hai";
    src: url("../fonts/Lato-Hai.ttf");
}
@font-face{
    font-family: "Lato Bla";
    src: url("../fonts/Lato-Bla.ttf");
}

// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "base/mixins";
@import "base/variables";
@import "base/extends";
@import "base/reset";
@import "base/fonts";
@import "base/utility";
@import "base/button";

// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "layout/header";
@import "layout/banner";
@import "layout/footer";

// ----------------------------------------------------------------------
// Custom
// ----------------------------------------------------------------------
@import "custom/custom-plugin";

// ----------------------------------------------------------------------
// Pages
// ----------------------------------------------------------------------
@import "pages/homepage";

// ----------------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------------
@import "responsive/responsive";
