button {
    background-color: $bc-style;
    padding: 24px 90px;
    text-transform: uppercase;
    color: $cl-style;
    @include rem('font-size',18);
    border: 2px solid #fff;
    border-radius: 2px;
    &:hover {
      border: 2px solid #999;
    }
  }
  